<div>
  <h2>Chats</h2>
  <mat-selection-list [multiple]="false" [(ngModel)]="selectedUser">
    <mat-list-option *ngFor="let user of users" [value]="user" (click)="selectUser()">
      {{user.name}}
    </mat-list-option>
  </mat-selection-list>
</div>
