.timestamp {
  font-size: 0.6rem;
}

.my-message {
  .timestamp {
    float: right;
  }

  .body {
    background-color: blue;
    color: white;
    float: right;
    width: 100%;
    span {
      float: right;
    }
  }
}

.user-message {
  .body {
    background-color: grey;
  }
}
