<div [ngClass]="message.sentByAnotherUser ? 'user-message' : 'my-message'">
  <div class="timestamp"> {{message.timestamp.toLocaleString()}}</div>
  <div class="body">
   <span> {{message.content}}</span>
  </div>
</div>
