<div>
  <h3>{{user?.name}}</h3>
  <div class="messages-window">
    <app-message *ngFor="let message of user?.messages" [message]="message"></app-message>
  </div>
  <form (ngSubmit)="sendMessage()">
    <mat-form-field class="example-full-width">
      <mat-label>Message text</mat-label>
      <input matInput [(ngModel)]="messageText" name="message"/>
    </mat-form-field>
    <button mat-button type="submit">Send</button>
  </form>
</div>
